@mixin alternateContent($color) {
    padding: 6px 18px 8px;

    color: $color;
}

.dropdown {
    // position: absolute;
    
    position: absolute;
    top: calc(100% - 2px);
    // top: 0;
    left: 0%;
    z-index: 10;

    margin: 0;
    padding: 0;

        min-width: 400px;
        width: calc(95% - 100px);

    overflow: visible;

    background: white;
    border: 2px solid darkgray;
    border-radius: 0.75rem;

    list-style: none;
    overflow: hidden;

    &__no-results {
        @include alternateContent(darkred);
    }

    &__error {
        @include alternateContent(red);

        font-weight: bold;
    }
}