.dropdown {
    // position: absolute;
    // top: calc(100% - 1rem);

    position: relative;
    z-index: 10;

    margin: 0;
    padding: 0;

        min-width: 400px;
        width: calc(95% - 100px);

    overflow: visible;

    background: white;
    border: 2px solid darkgray;
    border-radius: 0.75rem;

    list-style: none;
    overflow: hidden;
}