@import "./../../styles/button-template.scss";

button {
  @include button(0.8);
}

.map-options {
  display: flex;
  align-items: center;

  &__center {
    width: 35%;
    display: flex;
    justify-content: center;

    & > legend {
      font-size: 1rem;
    }

    & > button {
      flex: 1 0 auto;

      margin: 0 0.75rem;
    }
  }

  &__zoom-reset {
    margin: 0.9rem 0.25rem 0 0.75rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &__markers {
    margin: 0.9rem 0.75rem 0;
  }
}
