@import "./../../styles/button-template.scss";

@mixin input-width {
  min-width: 400px;
  width: calc(95% - 100px);
}

@mixin focus {
  &:focus {
    outline: 3px solid skyblue;
  }
}

.labels {
    padding: 0;
    margin: 0 0 0.5rem;
    padding: 0 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include input-width;

    &__main-label {
        font-size: 1.2rem;
      }
    
      &__error-label {
        color: crimson;
      }
}

.city-search {

      // for positioning the country tag
      position: relative;
  
      @include input-width;

  
    &__input {
      position: relative;
  
      width: 100%;
      padding: 6px 12px;
  
      border-radius: 0.75rem;
  
      font-size: inherit;
  
      @include focus;
  
      &:hover + .city-search__country-tag,
      &:focus + .city-search__country-tag {
        // Shifting the country tag to make room for the "x" to delete search input content
        right: 2.3rem;
      }
    }
  
    &__country-tag {
      position: absolute;
      bottom: calc(50% - 0.5rem);
      right: 1rem;
  
      opacity: 0.7;
  
      font-size: inherit;
  
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none;
  
      pointer-events: none; // so it doesn't interfere with activating the "x" for the input on hover
    }
  
    // &__input-error {
    //   position: absolute;
    //   bottom: 100%;
    //   right: 0;
  
    //   margin: 0 0 0.5rem;
  
    //   color: crimson;
    // }
  }