.city-info {
  display: inline-block;

  width: 100%;

  background: lightgray;

  &__header {
    margin: 1rem 0.5rem;
  }

  & table {
    overflow: hidden;

    width: 100%;
    border-collapse: collapse;

    & td {
      padding-left: 12px;

      word-wrap: break-word;
    }

    & td:first-of-type {
      width: 30%;

      font-weight: bold;
    }
    & td:last-of-type {
      width: 70%;
    }

    & tr:nth-of-type(odd) {
      background: darkgrey;
    }
  }
}
