@import "./../../styles/button-template.scss"; // includes button mixin

@mixin focus {
  &:focus {
    outline: 3px solid skyblue;
  }
}

.city-selection {
  width: 70%;
  min-width: 560px;
  max-width: 800px;
  height: 9rem;
  padding: 1rem;

  border-radius: 1rem;

  background: rgb(247, 247, 247);

  &__header {
    padding: 0 0 0.5rem;

    font-weight: bold;
    font-size: 1.5rem;
  }

  &__search-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative; // for positioning the dropdown list

    font-size: 1rem;
  }

  &__button {
    @include button(1.1, bold);

    width: 100px;
    height: 2.2rem;

    @include focus;
  }
}
